<div class="footer-con">
    <div class="footer-img-con">
        <img src="{{ asset('images/logo.png') }}">
    </div>
    <div class="footer-link-con">
        <h3>CSE Lycée Saint-Vincent</h3>
        <div class="footer-link-wrapper">
            <div>
                <a href="{{ path('partnership') }}"> > Partenariats</a>
                <a href="{{ path('about') }}"> > A propos de nous</a>
            </div>
            <div>
                <a href="{{ path("ticketing") }}"> > Billetterie</a>
                <a href="{{ path("contact") }}"> > Contact</a>
            </div>
        </div>
    </div>
    <div class="footer-newsletter-con">
        <h4>Inscrivez-vous aux offres</h4>
        <p>Reçevez un email à chaque nouvelle offre<br>sur le site internet.</p>
        <div>
            <input type="text" placeholder="Saisissez-votre email">
            <button>S'inscrire</button>
        </div>
    </div>
</div>
