<div class="nav-con">
    <div class="nav-img-con">
        <img src="{{ asset('images/logo.png') }}">
    </div>
    <div class="nav-link-con">
        <ul>
            <li>
                <a href="{{ path('home') }}">Accueil</a>
            </li>
            <li>
                <a href="{{ path('partnership') }}">Partenariats</a>
            </li>
            <li>
                <a href="{{ path('about') }}">A propos de nous</a>
            </li>
            <li>
                <a href="{{ path("ticketing") }}">Billetterie</a>
            </li>
            <li>
                <a href="{{ path("contact") }}">Contact</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {% if 'backoffice' in app.request.uri %}
                    <li>
                        <a href="{{ asset('logout') }}">Se deconnecter</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ asset('backoffice') }}">Espace Administrateur</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
    <div class="brg">
        <svg fill="#FFF" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="30px" height="30px"><path d="M 3 7 A 1.0001 1.0001 0 1 0 3 9 L 27 9 A 1.0001 1.0001 0 1 0 27 7 L 3 7 z M 3 14 A 1.0001 1.0001 0 1 0 3 16 L 27 16 A 1.0001 1.0001 0 1 0 27 14 L 3 14 z M 3 21 A 1.0001 1.0001 0 1 0 3 23 L 27 23 A 1.0001 1.0001 0 1 0 27 21 L 3 21 z"/></svg>
    </div>
</div>
