<div class="sidebar-con">
    <div class="survey">
        <h2>Votre avis compte</h2>
        <div class="survey-content">
            {{ form_start(form) }}
                <p>
                    {{ question }}
                </p>
                <div class="proposals-con">
                    {% for p in form.proposal %}
                        <div class="proposal">
                            {{ form_row(p) }}
                        </div>
                    {% endfor %}
                </div>
                <div class="survey-act">
                    <button type="">Voir les réponses</button>
                    {{ form_row(form.send) }}
                </div> 
            {{ form_end(form) }}
        </div>
        {% for message in app.flashes('success') %}
            <div class="form-row">
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div class="sidebar-items-con">
        <h2>Accès rapide</h2>
        <div>
            <a href="{{ path("ticketing") }}"> <span>&rsaquo;</span> Offres permanentes / Billetteries</a>
            <a href="{{ path('contact') }}"> <span>&rsaquo;</span> Nous contacter</a>
        </div>
    </div>

    <div class="sidebar-items-con">
        <h2>Informations de contact</h2>
        {# Les info de contact #}
        <div>
            <a> <span>&rsaquo;</span> Par téléphone : <span class="blue">+33303030303</span></a>
            <a> <span>&rsaquo;</span> Par email : <span class="blue">cse@lyceestvincent.fr</span></a>
            <a> <span>&rsaquo;</span> Au lycée : <span class="blue">Bureau du CSE<br>(1er étage bâtiment Saint-Vincent)</span></a>
        </div>
    </div>

    <div class="sidebar-items-con">
        {% if rdmPartners is defined and rdmPartners != null %}
            <h2>Nos partenaires</h2>
            <div class="car-con">
                {% for partner in rdmPartners %}
                    <div class="car-items-con-{{ partner.id }}" {% if not loop.first %}style="display:none;" {% endif %}id="wrap">
                        <img class="partner-img" src="{{ asset(partner.getIdFile().getPathFile()) }}" alt="">
                    </div>
                {% endfor %}
            </div>
            <div class="car-con-btn">
                {% for partner in rdmPartners %}
                    <button class="btn-car{{ loop.first ? ' selected' : '' }}" value="{{ partner.id }}"></button>
                {% endfor %}
            </div>
            <a class="discover-partners" href="{{ path('partnership') }}">Découvrir tous nos partenaires</a>
        {% endif %}
    </div>
</div>
