<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/backoffice/backoffice.css') }}">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('css/layout/nav.css') }}">
            <link rel="stylesheet" href="{{ asset('css/backoffice/bo_table.css') }}">
            <link rel="stylesheet" href="{{ asset('css/backoffice/bo_form.css') }}">
            <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
            <script src="{{ asset('js/nav-resp.js') }}"></script>
        {% endblock %}
    </head>
    {% block body %}
        <header>
            {% include './base/nav.html.twig' %}
        </header>
        <div class="main-con">
            <div class="sidebar-con">
                <div class="{% if 'accueil' in app.request.uri %}active_sb{% endif %}">
                    <a href=" {{ path('manage_home') }}">Gerer l'accueil</a>
                </div>
                <div class="{% if 'sondage' in app.request.uri %}active_sb{% endif %}">
                    <a href=" {{ path('manage_survey') }}">Gerer le sondage</a>
                </div>
                <div class="{% if 'partenaires' in app.request.uri %}active_sb{% endif %}">
                    <a href="{{ path('manage_partners') }}">Gerer les partenaires</a>
                </div>
                <div class="{% if 'administrateurs' in app.request.uri %}active_sb{% endif %}">
                    <a href="{{ path('manage_admins') }}">Gerer les administrateurs</a>
                </div>
                <div class="{% if 'offres' in app.request.uri %}active_sb{% endif %}">
                    <a href="{{ path('manage_offers') }}">Gerer les offres</a>
                </div>
                <div class="{% if 'message' in app.request.uri %}active_sb{% endif %}">
                    <a href="{{ path('manage_message') }}">Consulter les messages</a>
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    {% endblock %}
</html>