{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div class="contact-con">
        <h1>Contactez-nous</h1>
        <div class="form-con">
            {{ form_start(form) }}
                <div class="form-row">
                    {{ form_label(form.lastName) }}
                    <div>
                        {{ form_widget(form.lastName) }}
                        {{ form_errors(form.lastName) }}
                    </div>
                </div>
                <div class="form-row">
                    {{ form_label(form.name) }}
                    <div>
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>
                <div class="form-row">
                    {{ form_label(form.email) }}
                    <div>
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>
                </div>
                <div class="form-row">
                    {{ form_label(form.message) }}
                    <div>
                        {{ form_widget(form.message) }}
                        {{ form_errors(form.message) }}
                    </div>
                </div>
                <div class="newsletter-con form-row">
                    {{ form_label(form.subscribeToNewsletter) }}
                    <div>
                        {{ form_widget(form.subscribeToNewsletter) }}
                        {{ form_errors(form.subscribeToNewsletter) }}
                    </div>
                </div>
                <div class="captcha-con form-row">
                    {{ form_label(form.security) }}
                    <div>
                        {{ form_widget(form.security) }}
                        {{ form_errors(form.security) }}
                    </div>
                </div>
                <div class="submit-con form-row"> {{ form_row(form.submit) }}</div>
            {{ form_end(form) }}
        </div>
        {% for message in app.flashes('success') %}
            <div class="form-row">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
