<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('css/layout/nav.css') }}">
            <link rel="stylesheet" href="{{ asset('css/layout/sidebar.css') }}">
            <link rel="stylesheet" href="{{ asset('css/pages/home.css') }}">
            <link rel="stylesheet" href="{{ asset('css/pages/partner.css') }}">
            <link rel="stylesheet" href="{{ asset('css/layout/footer.css') }}">
            <script src="{{ asset('js/nav-resp.js') }}"></script>
            <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
            <link rel="preconnect" href="https://rsms.me/">
            <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <header>
        {% include './base/nav.html.twig' %}
    </header>
    <body>
        {% block body %}
            <div class="main-con">
                {% include './base/sidebar.html.twig' %}
                {% block content %}
                {% endblock %}
            </div>

        {% endblock %}
    </body>
    <footer>
        {% include './base/footer.html.twig' %}
    </footer>
</html>
